$primary-color: #202020;
$secondary-color: #555;
$card-color: #FFF1AA;
$card-color-saturated: #FFDB3C;

body {
    padding: 140px;
}

h2 {
    font-size: 48px;
    line-height: 1.22;
    font-weight: 700;
    margin: 0 0 60px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 10px 0 50px;
    min-height: 90px;
    padding-right: 20px;
}

.flex-container {
    display: flex;
    flex: 1 0 100%;
}

.flex-grid {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.flex-column {
    &-md-2 {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 33.33%;
        min-width: 33.33%;
        max-width: 33.33%;
    }

    &-md-3 {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        min-width: 50%;  
        max-width: 50%;
    }

    &-md-6 {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        min-width: 100%;  
        max-width: 100%;
    }
}

.cards-list {
    padding: 0 10px;
    margin: 0 -20px;
}

.single-card {
    width: 100%;
    background-color: $card-color;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px transparentize($color: #68809B, $amount: 0.85);
    padding: 40px;
    margin: 0 10px;
    position: relative;

    &.saturated {
        background-color: $card-color-saturated;
        box-shadow: none;
    }
}

.price-block {
    display: flex;
    align-items: flex-end;
}

.price {
    flex: 0 0 auto;
    line-height: 1;

    &::after {
        content: ' ₽';
    }

    &.current {
        font-size: 48px;
        font-weight: 700;
        margin-right: 10px;
    }

    &.old {
        color: $secondary-color;
        font-size: 20px;
        font-weight: 400;
        text-decoration: line-through;
        position: relative;
        top: -10px;
    }
}

.payment-period {
    font-size: 20px;
    line-height: 1;
    margin-top: 5px;
}

.checkout-button {
    display: block;
    color: $primary-color;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 52px;
    padding: 0 16px;
    margin: 20px 0 10px;
    width: 100%;
    border: 0;
    border-radius: 50px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.checkout-condition {
    color: $secondary-color;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.visible-md {
    display: initial;
}

.visible-xs {
   display: none;
}

html {
    color: $primary-color;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;

    @media screen and (max-width: 1366px) {
        font-size: 14px;
    
        body {
            max-width: 480px;
            padding: 68px 16px;
            margin: 0 auto;
        }
        
        h2 {
            font-size: 24px;
            margin: 0 0 40px;
            padding-right: 40px;
        }
        
        h3 {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 15px;
            min-height: 0;
            padding-right: 70px;
        }

        .flex-grid {
            flex-direction: column;
        }

        .flex-column {
            &-xs-6 {
                display: flex;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            &-xs-3 {
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%;
                min-width: 50%;  
                max-width: 50%;
            }
        }

        .cards-list {
            padding: 0;
            margin: 0;
        }
        
        .single-card {
            background-color: $card-color;
            padding: 20px;
            margin: 0 0 20px;
        }

        .price {
            &.current {
                font-size: 32px;
            }
        
            &.old {
                font-size: 14px;
                top: -3px;
            }
        }
        
        .payment-period {
            color: $secondary-color;
            font-size: 14px;
            margin-top: 7px;
        }

        .checkout-button {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 0;
            border-radius: 50%;
            position: absolute;    
            right: 20px;
            bottom: 50px;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
        
        .checkout-condition {
            font-size: 10px;
            line-height: 14px;
            font-weight: 60px;
            text-align: left;

            .text {
                display: inline-block;
                padding: 0 5px;
                margin: 15px 0 0;
                border: 1px solid $secondary-color;
                border-radius: 7px;
            }

            .discount {
                display: inline-block;
                background-color: #fff;
                margin-right: 5px;
                padding: 1px 5px;
                border-radius: 8px;
            }
        }

        .visible-md {
            display: none;
        }
        
        .visible-xs {
            display: initial;
        }
    }
}