.search-container {
    padding: 20px;

    form {
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 10px;
    }
    
    button {
        margin-top: 10px;
    }
    
    label {
        display: inline-block;
        margin-right: 5px;
    }
}